// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*=================================================================*/
/*toast弹出提示自定义样式*/
.myToastStyle{
    text-align: center;
    border-radius:5px;
    margin: 0 auto;
  }
  .myToastStyle .toast-message{
    flex:none;
    -webkit-box-flex:none;
    -webkit-flex: none;
    display: inline;
    margin: 0 auto;
    background: rgba(0,0,0,.7);
    border-radius: 4px;
  }
  .myToastStyle>.toast-wrapper{
    background: none;
  }
  /*=================================================================*/