page-modal-scale {}

.alertModal {
  .my-modal-footer {
    height: 4.5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    border-bottom-right-radius: .4rem;
    border-bottom-left-radius: .4rem;
    overflow: hidden;
  }
  .my-modal-footer>div {
    width: 50%;
    line-height: 4.5rem;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
  }
  .ok {
    background-color: #108ee9;
  }
  .list-md .item-block .item-inner,
  .list-ios .item-block .item-inner {
    border: 0;
  }
  .checkbox-list {
    padding-left: 2.5rem;
    border-bottom: 1px solid #ddd !important;
  }
  .list-md,
  .list-ios {
    margin: 0;
  }
  ion-icon {
    font-size: 2rem;
    color: #ccc;
  }
  ion-content {
    background-color: transparent;
  }
  .my-modal-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .my-modal-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .my-modal-wrapper {
    position: relative;
    z-index: 5;
    width: 25rem;
    background-color: #fff;
    border-radius: .4rem;
    box-shadow: 0 .4rem .4rem rgba(0, 17, 30, 0.1);
  }
  ion-list {
    width: 100%;
    max-height: 20rem;
    overflow-y: auto;
  }
  .modal-header {
    padding: 1rem 1rem 1rem 2.5rem;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #333;
    border-bottom: 1px solid #bbb;
  }
}
